In [22]:
import quandl

auth_token = "T6JGKtW3C35ysoZAgXq-"

data = quandl.get("BITSTAMP/USD", authtoken= auth_token)

In [23]:
data

,High,Low,Last,Bid,Ask,Volume,VWAP
Date,,,,,,,
2014-04-15,515.00,453.16,499.01,500.01,505.04,28535.844106,491.41
2014-04-16,548.00,494.02,534.00,535.01,536.00,31159.941300,520.21
2014-04-17,537.24,481.63,506.52,504.70,505.38,21126.375080,504.83
2014-04-18,508.43,470.00,487.00,484.14,487.00,11879.484756,485.72
2014-04-19,507.43,472.81,504.74,504.74,505.00,10262.195861,492.22
...,...,...,...,...,...,...,...
2021-01-08,40402.46,36327.50,39529.01,39518.29,39531.59,23101.433194,38299.40
2021-01-09,42000.00,36618.36,40701.16,40687.21,40702.24,22184.091758,39991.03
2021-01-10,41422.77,38788.16,40262.00,40238.68,40262.00,8536.918016,40348.26
2021-01-11,41450.00,34322.07,38144.00,38144.12,38195.99,16217.765604,38553.66
2021-01-12,38261.39,30261.13,35449.71,35438.68,35472.72,40786.933013,33575.27